body {
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}

#Header a:hover {
    color: orange;
}

.bg-image {
    background-image: url("./img/images.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.rounded-circle {
    width: 250px;
    height: 250px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    padding: 10px;
    border-radius: 50%;
}

#biodata {
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    font-style: oblique;
}

.info {
    text-align: center;
}

h1 {
    font-size: 50px;
    font-family: arial, serif;
    color: #f5f2d0;
}

h2 {
    color: #FFA500;
}

.icon {
    margin-left: 45%;
}

ul {
    /* background: #3399ff; */
    padding: 20px;
}

ul li {
    /* background: #cce5ff; */
    padding: 5px;
    margin-left: 35px;
}

.contact-image {
    background-image: url("../public/img/software-web-development-programming-concept-260nw-1122339353.webp");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#About {
    padding: 25px;
    background-color: rgb(210, 250, 247);
}

.section-3 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkorange;
    justify-content: center;
    margin-left: 45px;
    margin-top: 30px;
    border-style: none;
    text-transform: uppercase;
}

p {
    font-size: large;
}

ul,
li {
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    font-size: large;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 70px;
    padding-bottom: 5px;
}

form {
    margin-top: 5px;
    background-color: white;
    border-radius: 10px;
    padding-top: 4px;
    padding-left: 40px;
    width: 28%;
    font-size: small;
    color: #4a5568;
    margin-bottom: 5px;
}

input {
    padding: 20px;
    width: 90%;
    height: 30px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-radius: .25rem;
    color: #1a202c;
    margin-top: 10px;
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}

#sbmt {
    background-color: darkblue;
    color: white;
    width: 100%;
    height: 60px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#summary {
    font-size: 20px;
}